<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684396781426-vitgi7i8nrftoqu3srmaldjkgui8l990.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684396781426-vitgi7i8nrftoqu3srmaldjkgui8l990</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>684396781426-s4dbs9vr43chd31ll8ao0edu3ob7mfbk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwdLsjL-GyUKw_nGsgJJFYQ4VfGvDw0rY</string>
	<key>GCM_SENDER_ID</key>
	<string>684396781426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.kino.iphoneapp</string>
	<key>PROJECT_ID</key>
	<string>kinoapp-550de</string>
	<key>STORAGE_BUCKET</key>
	<string>kinoapp-550de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684396781426:ios:9b35e238015d815d4007eb</string>
</dict>
</plist>